.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    column-gap: 10px;
}

.todo-item:not(:last-child){
    border-bottom: 1px solid black;
}

.todo-item__actions{
    display: flex;
    column-gap: 10px;
}

.todo-item__actions button{
    cursor: pointer;
}